html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Neuton', serif;
  font-size: 14px;
}

#app {
  height: 100%;
  overflow: auto;
}

.main {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, .5);
  display: block;
  overflow: auto;
}

/**********************************************************

                                Login Styles

***********************************************************/

.login {
  margin-top: -20px;
  margin-right: -15px;
  width: 100%;
  height: 100%;
  background-image: url('http://www.marinainn.com/assets/themes/marinainn/img/san-francisco-skyline.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.loginContainer {
  position: relative;
  left: 30%;
  top: 30%;
  width: 40%;
  height: 40%;
  border-radius: 200px;
  text-align: center;
  background-color: rgba(255,255,255,.7);
}

.loginContainer h1 {
  position: relative;
  top: 25%;
}

.loginButtonDiv {
  position: relative;
  top: 30%;
}

/**********************************************************

                              Header Styles

***********************************************************/

.headerContainer {
  width: 100%;
  height: 10%;
  text-align: center;
  clear: bottom;
}

.header {
  width: 100%;
  float: left;
  margin-left: 2%;
  text-align: left;
}

/**********************************************************

                      Button Styles

***********************************************************/

.buttonToolbar {
  position: relative;
  margin-right: 30px;
  margin-top: 17px;
  float: right;
}

.container {
  height: 100%;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

/* ------------------------------------------
CSS3 FACEBOOK-STYLE BUTTONS (Nicolas Gallagher)
MIT License
http://github.com/necolas/css3-facebook-buttons
------------------------------------------ */

.buttonToolbar {
  position: relative;
  margin-right: 17px;
  margin-top: 17px;
  float: right;
}

.container {
  height: 100%;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

#Button { 
  border-radius: 50px;
  background-color: blue;
  color: white;
}

#Button:hover {
background-color: rgb(17,153,158);
}

.button {
  display: inline-block;
}




/**********************************************************

                        Art Styles

***********************************************************/

.mainArt {
  position: static;
  margin-left: 20px;
  height: 500px;
  width: 100%;
}

.ArtModalButton {
  float: right;
}

.artPiece {
  height: 100px;
  width: 100%;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
}

.artContainer {
  width: 21.5%;
  height: 500px;
  padding-right: 25px;
  border-right: 1px solid grey;
  overflow: auto;
}

.ArtComponent {
  width: 100px;
  height: 100px;
}

/**********************************************************

                        Map Styles

***********************************************************/

.mapContainer {
  display: inline-block;
  height: 60%;
  width: 100%;
}

.map {
  height: 100%;
  width: 100%;
}

/**********************************************************

                      Upload Styles

***********************************************************/

.preview img {
  width: 100px;
  height: 100px;
  margin-right: 3px;
  margin-bottom: 10px;
}

/**********************************************************

                      InfoPage Styles

***********************************************************/

.infoContainer {
  background-image: url(http://cdn.citylab.com/media/img/citylab/legacy/2012/05/14/willyscreen.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: 75%;
  margin-top: -25px;
}

.infoPage {
  position: relative;
  width: 90%;
  height: 80%;
  background-color: rgba(10, 10, 10, .7);
  left: 5%;
  top: 10%;
  text-align: center;
  color: white;
}

.infoHeader {
  position: relative;
  top: 25px;
  margin-bottom: 70px;
}

p {
  font-size: 17px;
}