html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Neuton', serif;
  font-size: 14px;
}

#app {
  height: 100%;
  overflow: auto;
}

.main {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, .5);
  display: block;
  overflow: auto;
}

/**********************************************************

                      Header Styles

***********************************************************/

.headerContainer {
  width: 100%;
  height: 10%;
  text-align: center;
  clear: bottom;
}

.header {
  width: 100%;
  float: left;
  text-align: center;
}

/**********************************************************

                      Button Styles

***********************************************************/

.buttonToolbar {
  position: relative;
  margin-right: 17px;
  margin-top: 17px;
  float: right;
}

.container {
  height: 100%;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

#Button { 
  border-radius: 30px;
}

#Button:hover {
background-color: rgb(17,153,158);
}

.button {
  display: inline-block;
}




/**********************************************************

                        Art Styles

***********************************************************/

.mainArt {
  position: static;
  margin-left: 20px;
  height: 100%;
  width: 100%;
}

.ArtModalButton {
  float: right;
}

.artPiece {
  height: 75px;
  width: 150px;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
}

.artContainer {
  width: 21.5%;
  height: 100%;
  padding-right: 25px;
  border-right: 1px solid grey;
  overflow: auto;
}

.ArtComponent {
  width: 100px;
  height: 100px;
}

/**********************************************************

                        Map Styles

***********************************************************/

.mapContainer {

  display: inline-block;
  height: 60%;
  width: 100%;
}

.map {
  height: 100%;
  width: 100%;
}

/**********************************************************

                      InfoPage Styles

***********************************************************/

.infoContainer {
  background-image: url(http://cdn.citylab.com/media/img/citylab/legacy/2012/05/14/willyscreen.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: 75%;
  margin-top: -25px;
}

.infoPage {
  position: relative;
  width: 90%;
  height: 80%;
  background-color: rgba(10, 10, 10, .7);
  left: 5%;
  top: 10%;
  text-align: center;
  color: white;
}

.infoHeader {
  position: relative;
  top: 25px;
  margin-bottom: 70px;
}

p {
  font-size: 17px;
}