html {
  height: 100%;
  background-image: url('robo-mural.jpg');
}

body {
  height: 100%;
}

#app {
  height: 100%;
}

.headerContainer {
  width: 100%;
  height: 5%;
  text-align: center;
  clear: bottom;
}

.header {
  width: 87%;
  float: left;
}

.fbook-button {
  position: relative;
  height: 100%;
  width: 10%;
  top: 10px;
  float: left;
  color: blue;
}

.fb-login-button {
  height: 100%;
}

.container {
  height: 95%;
  width: 100%;
}

.main {
  height: 100%;
  background-color: rgba(255, 255, 255, .5);
  display: block;
}

.list {
  height: 90%;
  width: 20%;
  position: left;
  display: inline-block;
  float: left;
  background-color: grey;
  margin-right: 3%;
  margin-left: 1%;
  overflow: auto;
}

.artPiece {
  height: 45px;
  border-bottom: 1px solid black;
  text-align: center;
}

.artContainer {
  width: 100%;
}

.mapContainer {
  position: left;
  display: inline-block;
  height: 90%;
  width: 75%;
  float: left;
}

.map {
  height: 100%;
  width: 100%;
}